<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Crack&amp;Wish</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Crack&amp;Wish</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.79501630124-peeupkr8v24kkgla408kg741dcd1n2fp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-5096906411582452~7933238634</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSContactsUsageDescription</key>
	<string>Rehberinizdeki arkadaşlarınızı bulup Crack&amp;Wish evrenine ekleyebilmeniz için izin gerekiyor. Rehberiniz sunucularımızda saklanmaz.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Bu uygulama, kozmik enerjinizi ve yaşam döngülerinizi kişiselleştirmek için temel verilerinize güvenli erişim talep edebilir.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Bu uygulama, kozmik ritimlerinizle bağlantılı olarak temel sağlık verilerinizi sadece cihazınızda güncelleyebilir.</string>

	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Şans kartınızı fotoğraf galerinize kaydetmek için izin gerekiyor.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Şans kartınızı fotoğraf galerinize kaydetmek veya kahve fincanınızı yüklemek için izin gerekiyor.</string>
	<key>NSCameraUsageDescription</key>
	<string>Kahve falınız için fincan fotoğraflarını çekebilmeniz için kameranıza erişim gerekiyor.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Video kaydı veya kamera kullanımı için mikrofonunuza erişim gerekiyor.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>FlutterSceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>sms</string>
	</array>
</dict>
</plist>
